.navbar {
    width: 100%;
    height: 10%;
    background: #0f1a2b;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;
}
.nav-logo {
    display: flex;
    align-items: center;
    /* pozicija levo je već osigurana flex rasporedom u navbar-u */
}

.logo-image {
    height: 100px; /* visina logotipa, prilagodi po potrebi */
    width: auto;  /* automatska širina da sačuva proporcije */
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 80px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #4fa3f7;
}
/* Hamburger dugme */
.navbar-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.navbar-mobile-menu {
  list-style: none;
    background-color: #0f1a2b;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  animation: fadeDown 0.3s ease;
}

.navbar-mobile-menu li {
  margin: 1rem 0;
}

.navbar-mobile-menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}


/* Dugme hamburger */
.navbar-toggle {
  display: block;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 15px;  /* pomeri hamburger malo ulevo ako treba */
}


/* Responsive pravilo */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;  /* smanjeni padding sa strane */
  }

  .nav-logo {
    margin-left: 10px;   /* mali pomak ulevo */
  }

  .navbar-toggle {
    margin-right: 10px;  /* pomeri hamburger bliže desnom rubu */
  }

  .logo-image {
    height: 80px;  /* smanjena visina logotipa za mobilne */
  }
}


/* Animacija menija */
@keyframes fadeDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
